/* Portrait */
@media (max-width: 768px) and (orientation: portrait) {
  .whatheading {
    font-size: 35px;
    font-weight: 600 !important;
    color: black;
  }

  .whatheadingsub {
    font-weight: 600 !important;
    font-size: 33px;
    color: #03cf64;
  }

  .whatsecondhead {
    font-size: 18px;
  }

  .whywhatcontent {
    font-size: 18px;
  }

  .gmbheading {
    font-size: 32px;
    font-weight: 600 !important;
    color: black;
  }

  .gmbheadingsub {
    font-weight: 600 !important;
    font-size: 33px;
    color: var(--gmb-color);
    text-decoration: underline;
  }

  .buttonsdiv {
    display: flex;
    justify-content: center;
  }

  .gmbimage {
    width: 346px;
    margin-top: 20%;
  }

  .gmbheadingsecthree {
    font-size: 34px;
    font-weight: 600 !important;
    color: black;
  }

  .gmbheadingsubsecthree {
    font-weight: 600 !important;
    font-size: 30px;
    color: var(--gmb-color);
    text-decoration: underline;
  }

  .videoproheading {
    font-size: 33px;
    font-weight: 600 !important;
    color: black;
  }

  .videoproheadingsub {
    font-weight: 600 !important;
    font-size: 33px;
    color: var(--whatsapp-color);
  }

  .videoprobimage {
    width: 90%;
    transition: 0.5s ease-in-out;
    animation: leftright 3s ease-out infinite alternate;
    margin-top: 40px;
  }

  .videoproheadingsecthree {
    font-size: 33px;
    font-weight: 600 !important;
    color: black;
  }

  .videoproheadingsubsecthree {
    font-weight: 600 !important;
    font-size: 33px;
    color: var(--whatsapp-color);
  }

  .seoimage {
    width: 90%;
    transition: 0.5s ease-in-out;
    animation: seoleftright 3s ease-out infinite alternate;
  }

  #seofirstsection {
    background-image: none !important;
  }

  .seoheading {
    font-size: 37px;
    font-weight: 600 !important;
    color: var(--website-blue-color);
  }

  .seoheadingsub {
    font-weight: 600 !important;
    font-size: 37px;
    color: black;
  }

  .seoheadingsectiontwo {
    font-size: 33px;
    font-weight: 600 !important;
    color: var(--whatsapp-color);
  }

  .seoheadingsubsectiontwo {
    font-weight: 600 !important;
    font-size: 33px;
    color: black;
  }

  .seoheadingsecthree {
    font-size: 37px;
    font-weight: 600 !important;
    color: black;
  }

  .seoheadingsubsecthree {
    font-weight: 600 !important;
    font-size: 37px;
    color: var(--website-blue-color);
  }

  .webheadingsectiontwo {
    font-size: 33px;
    font-weight: 600 !important;
    color: var(--website-blue-color);
  }

  .webheadingsubsectiontwo {
    font-weight: 600 !important;
    font-size: 33px;
    color: black;
  }

  .webimage {
    width: 90%;
    transition: 0.5s ease-in-out;
    animation: webimageleftright 3s ease-out infinite alternate;
    margin-top: 40px;
  }

  .webheading {
    font-size: 32px;
    font-weight: 600 !important;
    color: black;
  }

  .webheadingsub {
    font-weight: 600 !important;
    font-size: 35px;
    color: var(--whatsapp-color);
  }

  .webheading3 {
    font-size: 33px;
    font-weight: 600 !important;
    color: black;
  }

  .websubheading3 {
    font-weight: 600 !important;
    font-size: 33px;
    color: var(--website-blue-color);
  }

  .marketheading {
    font-size: 33px;
    font-weight: 600 !important;
    color: black;
  }

  .marketheadingsub {
    font-weight: 600 !important;
    font-size: 33px;
    color: var(--whatsapp-color);
  }

  .marketbimage {
    width: 90%;
    transition: 0.5s ease-in-out;
    animation: marketimgleftright 3s ease-out infinite alternate;
  }

  .marketheadingsecthree {
    font-size: 41px;
    font-weight: 600 !important;
    color: black;
  }

  .marketheadingsubsecthree {
    font-weight: 600 !important;
    font-size: 41px;
    color: var(--website-blue-color);
    text-decoration: underline;
  }

  .grpahicheading {
    font-size: 33px;
    font-weight: 600 !important;
    color: black;
  }

  .grpahicheadingsub {
    font-weight: 600 !important;
    font-size: 33px;
    color: var(--website-blue-color);
  }

  .grpahicbimage {
    width: 100%;
    transition: 0.5s ease-in-out;
    animation: webimageleftright 3s ease-out infinite alternate;
  }

  .graphicheadingsecthree {
    font-size: 43px;
    font-weight: 600 !important;
    color: black;
  }

  .graphicheadingsubsecthree {
    font-weight: 600 !important;
    font-size: 43px;
    color: var(--website-blue-color);
    text-decoration: underline;
  }

  .performanceheading {
    font-size: 33px;
    font-weight: 600 !important;
    color: black;
  }

  .performanceheadingsub {
    font-weight: 600 !important;
    font-size: 33px;
    color: var(--website-blue-color);
  }

  .performanceheadingsecthree {
    font-size: 37px;
    font-weight: 600 !important;
    color: black;
  }

  .performanceheadingsubsecthree {
    font-weight: 600 !important;
    font-size: 37px;
    color: var(--website-blue-color);
    text-decoration: underline;
  }

  .influbimage {
    width: 93%;
    transition: 0.5s ease-in-out;
    animation: influleftright 3s ease-out infinite alternate;
    margin-top: 10%;
  }

  .influheading {
    font-size: 43px;
    font-weight: 600 !important;
    color: black;
  }

  .influheadingsub {
    font-weight: 600 !important;
    font-size: 43px;
    color: var(--whatsapp-color);
  }

  #socialmediasection {
    background-image: none !important;
  }

  .socialmedheading {
    font-size: 39px;
    font-weight: 600 !important;
    color: black;
  }

  .socialmedheadingsub {
    font-weight: 600 !important;
    font-size: 41px;
    color: var(--website-blue-color);
  }

  .socialmedheadingsecthree {
    font-size: 47px;
    font-weight: 600 !important;
    color: black;
  }

  .socialmedheadingsubsecthree {
    font-weight: 600 !important;
    font-size: 47px;
    color: var(--whatsapp-color);
    text-decoration: underline;
  }

}

/* Landscape */
@media (max-width: 768px) and (orientation: landscape) {
  /* Styles for landscape mode */
}

@media (min-width: 1400px) {

  /* Styles for extra extra large devices */
  .desktop-view {
    width: 25%;
  }
}

@media (min-width: 1200px) and (max-width: 1399px) {
  /* Styles for extra large devices */
}

@media (min-width: 992px) and (max-width: 1199px) {
  /* Styles for large devices */

  .desktop-view {
    width: 40%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* Styles for medium devices */
}

@media (min-width: 576px) and (max-width: 767px) {
  /* Styles for small devices */
}

@media (max-width: 576px) {
  /* Styles for extra small devices */
}