/* Portrait */
@media (max-width: 768px) and (orientation: portrait) {
    /* Styles for portrait mode */
}

/* Landscape */
@media (max-width: 768px) and (orientation: landscape) {
    /* Styles for landscape mode */
}

@media (min-width: 1400px) {
}

@media (min-width: 1200px) and (max-width: 1399px) {
    /* Styles for extra large devices */
}

@media (min-width: 992px) and (max-width: 1199px) {
    /* Styles for large devices */
}
@media (min-width: 768px) and (max-width: 991px) {
    /* Styles for medium devices */
    .service-card__inner {
        width: 400px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    /* Styles for small devices */
}

@media (max-width: 576px) {
    /* Styles for extra small devices */

    .hideInMobile {
        display: none;
    }
    .hideInDesktop {
        display: block;
    }

    
    .service-card__inner {
        width: 350px;
        margin-inline: auto;
    }

    .action-btn {
        overflow: auto;
        white-space: nowrap;
        flex-wrap: nowrap;
        -ms-overflow-style: none;
        scrollbar-width: none;
        width: 100%;
        margin-top: 10px;
    }

    .service-card .nav, .servicesbox {
        overflow: auto;
        white-space: nowrap;
        flex-wrap: nowrap;
        padding-bottom: 10px;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    .heroTitle {
        font-size: 50px;
        letter-spacing: 0rem;
        line-height: 52px;
    }
    .subTitle {
        font-size: 30px;
        letter-spacing: 0rem;
        line-height: 32px;
    }

    .ion-hero-ambient-video {
        width: 100%;
    }
    .heretext {
        width: 50%;
    }
    
    .mobileMenu .nav-link {
        font-size: 22px;
        font-weight: 700;
    }
    .hero-section {
        padding: 0px 0;
    }
    .hereBox {
        margin: 0px;
        flex-wrap: wrap;
    }

    .tab-content > .tab-pane .card {
        width: auto;
    }

    .service-card {
        height: 800px;
        max-height: 90vh;
        overflow: hidden;
    }

    .servicecard .serviceHeading {
        width: 50%;
    }
    .servicecard .serviceContent {
        width: 60%;
    }

    .data_text_lin::before {
        right: 30%;
        top: 80px;
        
    }
    .serviceBanner p{
        text-wrap: auto;
    }
    .contactForm {
        margin-block: 10px;
    }
}
