/* We Serve Technologies Section CSS Start */

.technologies-sec {
    /* background: url(../images/technologies/our-process-bg.jpg) no-repeat center center; */
    background-size: cover;
    padding: 50px 0;
    overflow: hidden;
  }
  
  .index-list__divider-inn {
    width: 100%;
    height: 100%;
  }
  
  .technical-main-img,
  .technical-stack-ul,
  .technical-tk-ul>ul>li {
    transition: all .5s ease-in-out
  }
  
  .ph-heading-title {
    margin-bottom: 40px;
    text-align: start;
  }
  
  
  .ph-heading-title h2 {
    font-size: 40px;
    line-height: normal;
    font-weight: 500;
    text-transform: capitalize;
    margin-bottom: 10px;
    display: block;
    background: linear-gradient(to right, #000000, #48bfc4);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .index-top .technical-main-img,
  .index-top .technical-stack-ul,
  .index-top .technical-tk-ul>ul>li {
    opacity: .2
  }
  
  .technical-tk-ul ul li ul li span img {
    width: 80px;
    height: 80px;
    -o-object-fit: contain;
    object-fit: contain
  }
  
  .technical-tk-ul ul li ul li {
    position: absolute;
    opacity: 0;
  }
  
  .technical-tk-ul>ul>li.active ul li {
    transition: all .8s ease-in-out;
    opacity: 1;
    background: #fff;
    display: flex;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    align-items: center;
    padding: 10px;
    text-decoration: none;
    justify-content: center;
    color: #fff;
    text-align: center;
    box-shadow: 0 0 0 #0000001a inset, 0 0 10px #1e2a6d33
  }
  
  .index-top .technical-tk-ul>ul>li.active {
    opacity: 1;
  }
  
  .technical-tk-ul>ul>li ul li {
    transform: scale(0)
  }
  
  .technical-tk-ul ul {
    padding: 0;
    margin: 0;
    list-style: none
  }
  
  .technical-tk-ul>ul>li.active ul li {
    transform: scale(1)
  }
  
  .technical-tk-ul>ul>li.active ul li span img {
    width: 95%;
    height: 95%
  }
  
  .technical-tk-ul>ul>li ul li::before {
    content: "";
    border-top: 1px dashed #c0c0c0;
    width: 70px;
    opacity: 0;
    display: inline-block;
    position: absolute;
    transition: all .5s ease-in-out 1s
  }
  
  .technical-tk-ul>ul>li.active ul li::before {
    opacity: 1
  }
  
  .technical-tk-ul ul li ul li.css3 {
    top: -57px;
    left: -233px
  }
  
  .technical-tk-ul ul li ul li.html5 {
    top: 33px;
    left: -328px
  }
  
  .technical-tk-ul ul li ul li.javascript {
    top: 183px;
    left: -173px
  }
  
  .technical-tk-ul ul li ul li.angular {
    top: -138px;
    left: -68px
  }
  
  .technical-tk-ul ul li ul li.react {
    top: 178px;
    right: -452px
  }
  
  .technical-tk-ul ul li ul li.less {
    top: -137px;
    right: -637px
  }
  
  .technical-tk-ul ul li ul li.jquery {
    top: 188px;
    left: -338px
  }
  
  .index-top .technical-tk-ul>ul>li.frontend.active ul li.css3 {
    top: 15px;
    left: -130px
  }
  
  .index-top .technical-tk-ul>ul>li.frontend.active ul li.html5 {
    top: -70px;
    left: -102px
  }
  
  .index-top .technical-tk-ul>ul>li.frontend.active ul li.javascript {
    top: -122px;
    left: -30px
  }
  
  .index-top .technical-tk-ul>ul>li.frontend.active ul li.angular {
    top: -123px;
    left: 60px
  }
  
  .index-top .technical-tk-ul>ul>li.frontend.active ul li.react {
    top: -72px;
    right: -102px
  }
  
  .index-top .technical-tk-ul>ul>li.frontend.active ul li.less {
    top: 15px;
    right: -130px
  }
  
  .index-top .technical-tk-ul>ul>li.frontend.active ul li.jquery {
    top: 100px;
    left: 133px
  }
  
  .technical-tk-ul>ul>li.frontend ul li:nth-child(1)::before {
    transform: rotate(0);
    left: 70px;
    top: 35px
  }
  
  .technical-tk-ul>ul>li.frontend ul li:nth-child(2)::before {
    transform: rotate(36deg);
    top: 75px;
    left: 56px
  }
  
  .technical-tk-ul>ul>li.frontend ul li:nth-child(3)::before {
    transform: rotate(72deg);
    top: 100px;
    left: 20px
  }
  
  .technical-tk-ul>ul>li.frontend ul li:nth-child(4)::before {
    transform: rotate(108deg);
    top: 100px;
    right: 22px
  }
  
  .technical-tk-ul>ul>li.frontend ul li:nth-child(5)::before {
    transform: rotate(-36deg);
    top: 76px;
    right: 55px
  }
  
  .technical-tk-ul>ul>li.frontend ul li:nth-child(6)::before {
    transform: rotate(0);
    right: 70px;
    top: 35px
  }
  
  .technical-tk-ul>ul>li.frontend ul li:nth-child(7)::before {
    transform: rotate(36deg);
    bottom: 75px;
    right: 56px
  }
  
  .technical-tk-ul ul li ul li.php {
    right: -580px;
    top: 265px
  }
  
  .technical-tk-ul ul li ul li.codeigniter {
    left: -420px;
    top: 65px
  }
  
  .technical-tk-ul ul li ul li.drupal {
    top: 254px;
    left: -175px
  }
  
  .technical-tk-ul ul li ul li.joomla {
    top: -45px;
    left: -125px
  }
  
  .technical-tk-ul ul li ul li.laravel {
    top: -26px;
    right: -680px
  }
  
  .technical-tk-ul ul li ul li.magento {
    top: 55px;
    right: -425px
  }
  
  .technical-tk-ul ul li ul li.mysql {
    top: 195px;
    right: -685px
  }
  
  .technical-tk-ul ul li ul li.nodejs {
    top: 170px;
    right: -580px
  }
  
  .technical-tk-ul ul li ul li.rubyonrails {
    top: 365px;
    right: -493px
  }
  
  .technical-tk-ul ul li ul li.shopify {
    top: 260px;
    right: -465px
  }
  
  .index-top .technical-tk-ul>ul>li.backend.active ul li.php {
    top: 15px;
    right: 160px
  }
  
  .index-top .technical-tk-ul>ul>li.backend.active ul li.rubyonrails {
    top: -70px;
    right: 132px
  }
  
  .index-top .technical-tk-ul>ul>li.backend.active ul li.mysql {
    top: -122px;
    right: 60px
  }
  
  .index-top .technical-tk-ul>ul>li.backend.active ul li.nodejs {
    top: -123px;
    right: -30px
  }
  
  .index-top .technical-tk-ul>ul>li.backend.active ul li.codeigniter {
    top: -72px;
    left: 132px
  }
  
  .index-top .technical-tk-ul>ul>li.backend.active ul li.magento {
    top: 15px;
    right: -130px
  }
  
  .index-top .technical-tk-ul>ul>li.backend.active ul li.drupal {
    top: 100px;
    left: 133px
  }
  
  .index-top .technical-tk-ul>ul>li.backend.active ul li.joomla {
    top: 153px;
    left: 60px
  }
  
  .index-top .technical-tk-ul>ul>li.backend.active ul li.laravel {
    top: 153px;
    right: 60px
  }
  
  .index-top .technical-tk-ul>ul>li.backend.active ul li.shopify {
    top: 100px;
    right: 133px
  }
  
  .technical-tk-ul>ul>li.backend ul li:nth-child(1)::before {
    transform: rotate(0);
    left: 70px;
    top: 35px
  }
  
  .technical-tk-ul>ul>li.backend ul li:nth-child(2)::before {
    transform: rotate(-36deg);
    top: 76px;
    right: 55px
  }
  
  .technical-tk-ul>ul>li.backend ul li:nth-child(3)::before {
    transform: rotate(36deg);
    bottom: 75px;
    right: 56px
  }
  
  .technical-tk-ul>ul>li.backend ul li:nth-child(4)::before {
    transform: rotate(72deg);
    bottom: 100px;
    right: 20px
  }
  
  .technical-tk-ul>ul>li.backend ul li:nth-child(5)::before {
    transform: rotate(108deg);
    bottom: 100px;
    left: 22px
  }
  
  .technical-tk-ul>ul>li.backend ul li:nth-child(6)::before {
    transform: rotate(0);
    right: 70px;
    top: 35px
  }
  
  .technical-tk-ul>ul>li.backend ul li:nth-child(7)::before {
    transform: rotate(72deg);
    top: 100px;
    left: 20px
  }
  
  .technical-tk-ul>ul>li.backend ul li:nth-child(8)::before {
    transform: rotate(108deg);
    top: 100px;
    right: 22px
  }
  
  .technical-tk-ul>ul>li.backend ul li:nth-child(9)::before {
    transform: rotate(36deg);
    top: 75px;
    left: 56px
  }
  
  .technical-tk-ul>ul>li.backend ul li:nth-child(10)::before {
    transform: rotate(-36deg);
    bottom: 75px;
    left: 56px
  }
  
  .technical-tk-ul ul li ul li.android {
    top: 145px;
    left: -470px
  }
  
  .technical-tk-ul ul li ul li.ios {
    top: 370px;
    left: -390px
  }
  
  .technical-tk-ul ul li ul li.flutter {
    top: -40px;
    left: -570px
  }
  
  .technical-tk-ul ul li ul li.kotlin {
    left: -550px;
    top: 220px
  }
  
  .technical-tk-ul ul li ul li.react-native {
    right: -410px;
    top: 305px
  }
  
  .technical-tk-ul ul li ul li.swift {
    top: -45px;
    right: -125px
  }
  
  .index-top .technical-tk-ul>ul>li.mobile-app.active ul li.android {
    top: 15px;
    left: -130px
  }
  
  .index-top .technical-tk-ul>ul>li.mobile-app.active ul li.ios {
    top: -70px;
    left: -102px
  }
  
  .index-top .technical-tk-ul>ul>li.mobile-app.active ul li.flutter {
    top: -122px;
    left: -30px
  }
  
  .index-top .technical-tk-ul>ul>li.mobile-app.active ul li.kotlin {
    top: -123px;
    left: 60px
  }
  
  .index-top .technical-tk-ul>ul>li.mobile-app.active ul li.react-native {
    top: -72px;
    right: -102px
  }
  
  .index-top .technical-tk-ul>ul>li.mobile-app.active ul li.swift {
    top: 15px;
    right: -130px
  }
  
  .technical-tk-ul>ul>li.mobile-app ul li:nth-child(1)::before {
    transform: rotate(0);
    left: 70px;
    top: 35px
  }
  
  .technical-tk-ul>ul>li.mobile-app ul li:nth-child(2)::before {
    transform: rotate(36deg);
    top: 75px;
    left: 56px
  }
  
  .technical-tk-ul>ul>li.mobile-app ul li:nth-child(3)::before {
    transform: rotate(72deg);
    top: 100px;
    left: 20px
  }
  
  .technical-tk-ul>ul>li.mobile-app ul li:nth-child(4)::before {
    transform: rotate(108deg);
    top: 100px;
    right: 22px
  }
  
  .technical-tk-ul>ul>li.mobile-app ul li:nth-child(5)::before {
    transform: rotate(-36deg);
    top: 76px;
    right: 55px
  }
  
  .technical-tk-ul>ul>li.mobile-app ul li:nth-child(6)::before {
    transform: rotate(0deg);
    right: 70px;
    top: 35px
  }
  
  .technical-tk-ul>ul>li.mobile-app ul li:nth-child(7)::before {
    transform: rotate(0);
    right: 70px;
    top: 35px
  }
  
  .technical-tk-ul>ul>li.mobile-app ul li:nth-child(8)::before {
    transform: rotate(72deg);
    bottom: 100px;
    right: 20px
  }
  
  .technical-tk-ul ul li ul li.adobe-xd {
    top: -237px;
    left: -782px
  }
  
  .technical-tk-ul ul li ul li.illustrator {
    top: -237px;
    left: -782px
  }
  
  .technical-tk-ul ul li ul li.photoshop {
    top: -227px;
    right: -173px
  }
  
  .technical-tk-ul ul li ul li.figma {
    top: -37px;
    right: -108px
  }
  
  .index-top .technical-tk-ul>ul>li.ui-ux-design.active ul li.adobe-xd {
    top: 15px;
    left: 160px
  }
  
  .index-top .technical-tk-ul>ul>li.ui-ux-design.active ul li.illustrator {
    top: -70px;
    left: 130px
  }
  
  .index-top .technical-tk-ul>ul>li.ui-ux-design.active ul li.photoshop {
    top: -122px;
    right: 60px
  }
  
  .index-top .technical-tk-ul>ul>li.ui-ux-design.active ul li.figma {
    top: -123px;
    right: -30px
  }
  
  .technical-tk-ul>ul>li.ui-ux-design ul li:nth-child(1)::before {
    transform: rotate(0);
    right: 70px;
    top: 35px
  }
  
  .technical-tk-ul>ul>li.ui-ux-design ul li:nth-child(2)::before {
    transform: rotate(-36deg);
    top: 75px;
    right: 56px
  }
  
  .technical-tk-ul>ul>li.ui-ux-design ul li:nth-child(3)::before {
    transform: rotate(72deg);
    top: 100px;
    left: 20px
  }
  
  .technical-tk-ul>ul>li.ui-ux-design ul li:nth-child(4)::before {
    transform: rotate(108deg);
    top: 100px;
    right: 22px
  }
  
  .technical-tk-ul>ul>li.data-science ul li:nth-child(1)::before {
    transform: rotate(0);
    left: 70px;
    top: 35px
  }
  
  .technical-tk-ul>ul>li.data-science ul li:nth-child(2)::before {
    transform: rotate(36deg);
    top: 75px;
    left: 56px
  }
  
  .technical-tk-ul>ul>li.data-science ul li:nth-child(3)::before {
    transform: rotate(72deg);
    top: 100px;
    left: 20px
  }
  
  .technical-tk-ul>ul>li.data-science ul li:nth-child(4)::before {
    transform: rotate(108deg);
    top: 100px;
    right: 22px
  }
  
  .technical-tk-ul>ul>li.data-science ul li:nth-child(5)::before {
    transform: rotate(-36deg);
    top: 76px;
    right: 55px
  }
  
  .technical-tk-ul>ul>li.data-science ul li:nth-child(6)::before {
    transform: rotate(0);
    right: 70px;
    top: 35px
  }
  
  .technical-tk-ul>ul>li.data-science ul li:nth-child(7)::before {
    transform: rotate(36deg);
    bottom: 75px;
    right: 56px
  }
  
  .technical-stack-main.index-top .technical-site-logo {
    opacity: 0.2
  }
  
  .technical-main-img span img {
    width: 100% !important;
    position: absolute;
    left: 0;
    right: 0;
    top: -75px;
    bottom: 0;
    margin: auto;
    max-width: 64%
  }
  
  .technical-main-img {
    text-align: center
  }
  
  .technical-stack-main {
    position: relative
  }
  
  .technical-stack-ul ul li {
    display: inline-block;
    position: absolute;
    z-index: 3
  }
  
  .technical-stack-ul ul li span img {
    width: 65px;
    height: 65px;
    display: inline-block;
    -o-object-fit: contain;
    object-fit: contain;
    transition: all .3s ease-in-out !important;
    opacity: .9 !important
  }
  
  .technical-stack-ul ul li:hover span img {
    filter: grayscale(0);
    transform: scale(1.05);
    opacity: 1 !important
  }
  
  .technical-stack-ul ul li span {
    display: block;
    font-size: 22px;
    color: #4f4e4e;
    transition: all .3s ease-in-out
  }
  
  .technical-stack-ul ul li.adobe-xd {
    top: 20px;
    left: 10px
  }
  
  .technical-stack-ul ul li.android {
    top: 200px;
    left: 240px
  }
  
  .technical-stack-ul ul li.angularjs {
    top: 110px;
    left: 270px
  }
  
  .technical-stack-ul ul li.aws {
    top: 97px;
    left: 160px
  }
  
  .technical-stack-ul ul li.codeigniter {
    top: 120px;
    left: 10px
  }
  
  .technical-stack-ul ul li.css3 {
    top: 190px;
    left: 120px
  }
  
  .technical-stack-ul ul li.drupal {
    top: 310px;
    left: 260px
  }
  
  .technical-stack-ul ul li.flutter {
    top: 15px;
    left: 140px
  }
  
  .technical-stack-ul ul li.html5 {
    top: 280px;
    left: 25px
  }
  
  .technical-stack-ul ul li.illustrator {
    top: 360px;
    left: 100px
  }
  
  .technical-stack-ul ul li.ios {
    top: 425px;
    left: 300px
  }
  
  .technical-stack-ul ul li.shopify {
    top: 315px;
    right: 245px
  }
  
  .technical-stack-ul ul li.javascript {
    top: 430px;
    left: 180px
  }
  
  .technical-stack-ul ul li.joomla {
    top: 20px;
    left: 320px
  }
  
  .technical-stack-ul ul li.jquery {
    top: 435px;
    left: 15px
  }
  
  .technical-stack-ul ul li.kotlin {
    top: 275px;
    left: 160px
  }
  
  .technical-stack-ul ul li.laravel {
    top: 15px;
    right: 30px
  }
  
  .technical-stack-ul ul li.less {
    top: 110px;
    right: 155px
  }
  
  .technical-stack-ul ul li.magento {
    top: 110px;
    right: 265px
  }
  
  .technical-stack-ul ul li.mongodb {
    top: 135px;
    right: 20px
  }
  
  .technical-stack-ul ul li.mysql {
    top: 250px;
    right: 25px
  }
  
  .technical-stack-ul ul li.nodejs {
    top: 225px;
    right: 130px
  }
  
  .technical-stack-ul ul li.photoshop {
    top: 20px;
    right: 180px
  }
  
  .technical-stack-ul ul li.php {
    top: 320px;
    right: 130px
  }
  
  .technical-stack-ul ul li.react {
    top: 440px;
    right: 310px
  }
  
  .technical-stack-ul ul li.react-native {
    top: 360px;
    right: 25px
  }
  
  .technical-stack-ul ul li.rubyonrails {
    top: 440px;
    right: 170px
  }
  
  .technical-stack-ul ul li.swift {
    top: 20px;
    right: 320px
  }
  
  .technical-stack-ul ul li.figma {
    top: 210px;
    right: 245px
  }
  
  .technical-stack-ul ul li.wordpress {
    top: 440px;
    right: 40px
  }
  
  .technical-main-mdl {
    position: relative;
    min-height: 550px
  }
  
  .technical-tk-ul ul li {
    position: absolute;
    z-index: 3
  }
  
  .technical-main-img,
  .technical-stack-ul,
  .technical-tk-ul>ul>li {
    transition: all .5s ease-in-out
  }
  
  .index-top .technical-main-img,
  .index-top .technical-stack-ul,
  .index-top .technical-tk-ul>ul>li {
    opacity: .2
  }
  
  .technical-tk-ul ul li ul li span img {
    width: 80px;
    height: 80px;
    -o-object-fit: contain;
    object-fit: contain
  }
  
  .technical-tk-ul ul li ul li {
    position: absolute;
    opacity: 0
  }
  
  .technical-tk-ul>ul>li ul li {
    transform: scale(0)
  }
  
  .technical-tk-ul>ul>li.active ul li {
    transform: scale(1)
  }
  
  .technical-tk-ul>ul>li.active ul li span img {
    width: 95%;
    height: 95%
  }
  
  .technical-tk-ul>ul>li.active ul li::before {
    opacity: 1
  }
  
  .technical-tk-ul ul li a {
    background: #fff;
    display: flex;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    align-items: center;
    padding: 10px;
    text-decoration: none;
    justify-content: center;
    font-size: 16px;
    color: #505050;
    position: relative;
    z-index: 33;
    text-align: center;
    border: 1px dashed #c0c0c0;
  }
  
  .technical-tk-ul ul li.active {
    z-index: 9
  }
  
  .technical-tk-ul>ul>li:nth-child(1) {
    top: 360px;
    left: 70px
  }
  
  .technical-tk-ul>ul>li:nth-child(2) {
    top: 100px;
    left: 60px
  }
  
  .technical-tk-ul>ul>li:nth-child(3) {
    top: 100px;
    left: 420px
  }
  
  .technical-tk-ul>ul>li:nth-child(4) {
    top: 360px;
    left: 410px
  }
  
  .technical-main-img span {
    display: inline-block;
    width: 450px;
    height: 450px;
    border: 2px dashed #c0c0c0;
    border-top: none;
    border-bottom: none;
    border-radius: 50%;
    transition: all .5s ease-in-out;
    position: relative
  }
  
  .technical-stack-main.index-top .technical-main-img span {
    border: 2px dashed transparent;
    border-top: none;
    border-bottom: none
  }
  
  .technical-main-img span img {
    width: 100%
  }
  
  .technical-main-img {
    padding: 45px 0
  }
  
  @media (min-width: 1400px) {
    .technical-tk-ul>ul>li:nth-child(1) {
      top: 360px;
      left: 40px;
    }
  
    .technical-tk-ul>ul>li:nth-child(2) {
      top: 100px;
      left: 44px;
    }
  
    .technical-tk-ul>ul>li:nth-child(3) {
      top: 100px;
      right: 50px;
      left: auto;
    }
  
    .technical-tk-ul>ul>li:nth-child(4) {
      top: 360px;
      right: 50px;
      left: auto;
    }
  }
  
  @media (max-width: 1199px) {
    .technical-stack-ul ul li.codeigniter {
      top: 90px
    }
  
    .technical-stack-ul ul li.flutter {
      left: 110px
    }
  
    .technical-stack-ul ul li.joomla {
      left: 220px
    }
  
    .technical-stack-ul ul li.aws {
      top: 72px;
      left: 110px
    }
  
    .technical-stack-ul ul li.angularjs {
      top: 90px;
      left: 190px
    }
  
    .technical-stack-ul ul li.css3 {
      top: 150px;
      left: 110px
    }
  
    .technical-stack-ul ul li.android {
      top: 170px;
      left: 180px
    }
  
    .technical-stack-ul ul li.html5 {
      top: 190px;
      left: 25px
    }
  
    .technical-stack-ul ul li.kotlin {
      top: 223px;
      left: 120px
    }
  
    .technical-stack-ul ul li.drupal {
      top: 260px;
      left: 195px
    }
  
    .technical-stack-ul ul li.illustrator {
      top: 275px;
      left: 65px
    }
  
    .technical-stack-ul ul li.jquery {
      top: 328px;
      left: 10px
    }
  
    .technical-stack-ul ul li.javascript {
      top: 330px;
      left: 140px
    }
  
    .technical-stack-ul ul li.ios {
      top: 345px;
      left: 220px
    }
  
    .technical-stack-ul ul li.laravel {
      top: 10px;
      right: 10px
    }
  
    .technical-stack-ul ul li.photoshop {
      top: 5px;
      right: 110px
    }
  
    .technical-stack-ul ul li.swift {
      right: 220px
    }
  
    .technical-stack-ul ul li.magento {
      top: 90px;
      right: 185px
    }
  
    .technical-stack-ul ul li.less {
      top: 72px;
      right: 110px
    }
  
    .technical-stack-ul ul li.mongodb {
      top: 90px;
      right: 15px
    }
  
    .technical-stack-ul ul li.figma {
      top: 170px;
      right: 190px
    }
  
    .technical-stack-ul ul li.nodejs {
      top: 150px;
      right: 110px
    }
  
    .technical-stack-ul ul li.mysql {
      top: 190px;
      right: 25px
    }
  
    .technical-stack-ul ul li.php {
      top: 223px;
      right: 120px
    }
  
    .technical-stack-ul ul li.shopify {
      top: 260px;
      right: 190px
    }
  
    .technical-stack-ul ul li.react-native {
      top: 288px;
      right: 10px
    }
  
    .technical-stack-ul ul li.react {
      top: 350px;
      right: 190px
    }
  
    .technical-stack-ul ul li.rubyonrails {
      top: 350px;
      right: 110px
    }
  
    .technical-stack-ul ul li.wordpress {
      top: 370px;
      right: 10px
    }
  
    .technical-main-img span {
      width: 360px;
      height: 360px
    }
  
    .technical-main-img span img {
      max-width: 70%
    }
  
    .technical-tk-ul>ul>li:nth-child(2) {
      top: 55px;
      left: 75px
    }
  
    .technical-tk-ul>ul>li:nth-child(1) {
      left: 40px;
      top: 247px
    }
  
    .technical-tk-ul>ul>li:nth-child(4) {
      left: 317px;
      top: 247px
    }
  
    .technical-tk-ul>ul>li:nth-child(3) {
      left: 275px;
      top: 55px
    }
  
    .technical-tk-ul ul li ul li.css3 {
      top: -97px;
      left: -171px
    }
  
    .technical-tk-ul ul li ul li.html5 {
      top: -56px;
      left: -255px
    }
  
    .technical-tk-ul ul li ul li.javascript {
      top: 84px;
      left: -140px
    }
  
    .technical-tk-ul ul li ul li.angular {
      top: -158px;
      left: -75px
    }
  
    .technical-tk-ul ul li ul li.react {
      top: 98px;
      right: -315px
    }
  
    .technical-tk-ul ul li ul li.less {
      top: -175px;
      right: -445px
    }
  
    .technical-tk-ul ul li ul li.jquery {
      top: 81px;
      left: -270px
    }
  
    .technical-tk-ul ul li ul li.php {
      right: -400px;
      top: 168px
    }
  
    .technical-tk-ul ul li ul li.codeigniter {
      left: -300px;
      top: 35px
    }
  
    .technical-tk-ul ul li ul li.drupal {
      top: 205px;
      left: -105px
    }
  
    .technical-tk-ul ul li ul li.joomla {
      top: -55px;
      left: -95px
    }
  
    .technical-tk-ul ul li ul li.laravel {
      top: -46px;
      right: -510px
    }
  
    .technical-tk-ul ul li ul li.magento {
      top: 35px;
      right: -315px
    }
  
    .technical-tk-ul ul li ul li.mysql {
      top: 136px;
      right: -495px
    }
  
    .technical-tk-ul ul li ul li.nodejs {
      top: 95px;
      right: -410px
    }
  
    .technical-tk-ul ul li ul li.rubyonrails {
      top: 245px;
      right: -380px
    }
  
    .technical-tk-ul ul li ul li.shopify {
      top: 205px;
      right: -310px
    }
  
    .technical-tk-ul ul li ul li.android {
      top: 115px;
      left: -325px
    }
  
    .technical-tk-ul ul li ul li.ios {
      top: 290px;
      left: -276px
    }
  
    .technical-tk-ul ul li ul li.flutter {
      top: -50px;
      left: -405px
    }
  
    .technical-tk-ul ul li ul li.kotlin {
      left: -395px;
      top: 168px
    }
  
    .technical-tk-ul ul li ul li.react-native {
      right: -311px;
      top: 233px
    }
  
    .technical-tk-ul ul li ul li.swift {
      top: -55px;
      right: -100px
    }
  
    .technical-tk-ul ul li ul li.adobe-xd {
      top: -237px;
      left: -547px
    }
  
    .technical-tk-ul ul li ul li.illustrator {
      top: 28px;
      left: -492px
    }
  
    .technical-tk-ul ul li ul li.photoshop {
      top: -242px;
      right: -168px
    }
  
    .technical-tk-ul ul li ul li.figma {
      top: -77px;
      right: -88px
    }
  }
  
  
  @media screen and (min-width: 991px) and (max-width: 1199px) {
  
    .technical-tk-ul>ul>li:nth-child(1) {
      left: 10%;
      top: 249px;
    }
  
    .technical-tk-ul>ul>li:nth-child(2) {
      top: 55px;
      left: 15%;
    }
  
    .technical-tk-ul>ul>li:nth-child(3) {
      left: 63%;
      top: 55px;
    }
  
    .technical-tk-ul>ul>li:nth-child(4) {
      left: 71%;
      top: 247px;
    }
  
  }
  
  @media screen and (min-width: 767px) and (max-width: 991px) {
  
    .technical-main-img {
      padding: 95px 0 45px;
    }
  
    .technical-main-img span {
      width: 250px;
      height: 250px;
    }
  
    .technical-main-img span img {
      max-width: 70%;
      top: -44px;
    }
  
    .technical-tk-ul>ul>li:nth-child(1) {
      left: 35%;
      top: 273px
    }
  
    .technical-tk-ul>ul>li:nth-child(2) {
      top: 68px;
      left: 35%;
    }
  
    .technical-tk-ul>ul>li:nth-child(3) {
      left: 53%;
      top: 68px;
    }
  
    .technical-tk-ul>ul>li:nth-child(4) {
      left: 53%;
      top: 273px;
    }
  
  }
  
  
  
  @media (max-width: 767px) {
    .technical-main-img {
      margin-top: 80px;
    }
  
    .technical-tk-ul>ul>li:nth-child(1) {
      left: 20%;
      top: 300px
    }
  
    .technical-tk-ul>ul>li:nth-child(2) {
      top: 68px;
      left: 20%;
    }
  
    .technical-tk-ul>ul>li:nth-child(3) {
      left: 62%;
      top: 68px;
    }
  
    .technical-tk-ul>ul>li:nth-child(4) {
      left: 65%;
      top: 273px;
    }
  
  
  
  
  
    .technical-stack-ul ul li.adobe-xd {
      top: 10px;
      left: 0px;
    }
  
    .technical-stack-ul ul li.codeigniter {
      top: 90px;
      left: 0px;
    }
  
    .technical-stack-ul ul li.flutter {
      left: 85px;
      top: 10px;
    }
  
    .technical-stack-ul ul li.joomla {
      left: 170px;
      top: 10px;
    }
  
    .technical-stack-ul ul li.aws {
      top: 72px;
      left: 110px
    }
  
    .technical-stack-ul ul li.angularjs {
      top: 480px;
      left: 360px;
    }
  
    .technical-stack-ul ul li.css3 {
      top: 395px;
      left: 0px;
    }
  
    .technical-stack-ul ul li.android {
      top: 165px;
      left: 0px
    }
  
    .technical-stack-ul ul li.html5 {
      top: 310px;
      left: 0px;
    }
  
    .technical-stack-ul ul li.kotlin {
      top: 570px;
      left: 7px;
    }
  
    .technical-stack-ul ul li.drupal {
      top: 570px;
      left: 92px
    }
  
    .technical-stack-ul ul li.illustrator {
      top: 480px;
      left: 0;
    }
  
    .technical-stack-ul ul li.jquery {
      top: 230px;
      left: 0px;
    }
  
    .technical-stack-ul ul li.javascript {
      top: 480px;
      left: 80px;
    }
  
    .technical-stack-ul ul li.ios {
      top: 480px;
      left: 160px
    }
  
    .technical-stack-ul ul li.laravel {
      top: 10px;
      right: 10px
    }
  
    .technical-stack-ul ul li.photoshop {
      top: 10px;
      right: 100px
    }
  
    .technical-stack-ul ul li.swift {
      right: 185px;
      top: 10px;
    }
  
    .technical-stack-ul ul li.magento {
      top: 480px;
      right: 88px
    }
  
    .technical-stack-ul ul li.less {
      top: 72px;
      right: 110px
    }
  
    .technical-stack-ul ul li.mongodb {
      top: 90px;
      right: 10px
    }
  
    .technical-stack-ul ul li.figma {
      top: 570px;
      right: 275px;
    }
  
    .technical-stack-ul ul li.nodejs {
      top: 165px;
      right: 10px
    }
  
    .technical-stack-ul ul li.mysql {
      top: 230px;
      right: 10px
    }
  
    .technical-stack-ul ul li.php {
      top: 570px;
      right: 10px;
    }
  
    .technical-stack-ul ul li.shopify {
      top: 570px;
      right: 120px;
    }
  
    .technical-stack-ul ul li.react-native {
      top: 320px;
      right: 10px
    }
  
    .technical-stack-ul ul li.react {
      top: 570px;
      right: 200px;
    }
  
    .technical-stack-ul ul li.rubyonrails {
      top: 480px;
      right: 10px;
    }
  
    .technical-stack-ul ul li.wordpress {
      top: 400px;
      right: 10px
    }
  
    .technical-main-img span {
      width: 360px;
      height: 360px
    }
  
    .technical-main-img span img {
      max-width: 70%
    }
  
  
    .technical-tk-ul ul li ul li.css3 {
      top: -97px;
      left: -171px
    }
  
    .technical-tk-ul ul li ul li.html5 {
      top: -56px;
      left: -255px
    }
  
    .technical-tk-ul ul li ul li.javascript {
      top: 84px;
      left: -140px
    }
  
    .technical-tk-ul ul li ul li.angular {
      top: -158px;
      left: -75px
    }
  
    .technical-tk-ul ul li ul li.react {
      top: 98px;
      right: -315px
    }
  
    .technical-tk-ul ul li ul li.less {
      top: -175px;
      right: -445px
    }
  
    .technical-tk-ul ul li ul li.jquery {
      top: 81px;
      left: -270px
    }
  
    .technical-tk-ul ul li ul li.php {
      right: -400px;
      top: 168px
    }
  
    .technical-tk-ul ul li ul li.codeigniter {
      left: -300px;
      top: 35px
    }
  
    .technical-tk-ul ul li ul li.drupal {
      top: 205px;
      left: -105px
    }
  
    .technical-tk-ul ul li ul li.joomla {
      top: -55px;
      left: -95px
    }
  
    .technical-tk-ul ul li ul li.laravel {
      top: -46px;
      right: -510px
    }
  
    .technical-tk-ul ul li ul li.magento {
      top: 35px;
      right: -315px
    }
  
    .technical-tk-ul ul li ul li.mysql {
      top: 136px;
      right: -495px
    }
  
    .technical-tk-ul ul li ul li.nodejs {
      top: 95px;
      right: -410px
    }
  
    .technical-tk-ul ul li ul li.rubyonrails {
      top: 245px;
      right: -380px
    }
  
    .technical-tk-ul ul li ul li.shopify {
      top: 205px;
      right: -310px
    }
  
    .technical-tk-ul ul li ul li.android {
      top: 115px;
      left: -325px
    }
  
    .technical-tk-ul ul li ul li.ios {
      top: 290px;
      left: -276px
    }
  
    .technical-tk-ul ul li ul li.flutter {
      top: -50px;
      left: -405px
    }
  
    .technical-tk-ul ul li ul li.kotlin {
      left: -395px;
      top: 168px
    }
  
    .technical-tk-ul ul li ul li.react-native {
      right: -311px;
      top: 233px
    }
  
    .technical-tk-ul ul li ul li.swift {
      top: -55px;
      right: -100px
    }
  
    .technical-tk-ul ul li ul li.adobe-xd {
      top: -237px;
      left: -547px
    }
  
    .technical-tk-ul ul li ul li.illustrator {
      top: 28px;
      left: -492px
    }
  
    .technical-tk-ul ul li ul li.photoshop {
      top: -242px;
      right: -168px
    }
  
    .technical-tk-ul ul li ul li.figma {
      top: -77px;
      right: -88px
    }
  }
  
  
  
  @media (max-width: 530px) {
  
    .ph-heading-title {
      margin-bottom: 83px;
    }
  
    .technical-main-img span {
      width: 260px;
      height: 260px;
    }
  
    .technical-main-img span img {
      max-width: 70%;
      margin-top: 120px;
    }
  
    .technical-main-img {
      margin-top: 143px;
    }
  
    .technical-tk-ul>ul>li:nth-child(1) {
      left: 20%;
      top: 230px;
    }
  
    .technical-tk-ul>ul>li:nth-child(2) {
      top: 20px;
      left: 20%;
    }
  
    .technical-tk-ul>ul>li:nth-child(3) {
      left: 51%;
      top: 20px;
    }
  
    .technical-tk-ul>ul>li:nth-child(4) {
      left: 51%;
      top: 228px;
    }
  
  
    .technical-stack-ul ul li.swift {
      right: 185px;
      top: -55px;
    }
  
    .technical-stack-ul ul li.figma {
      top: 645px;
      right: 210px;
    }
  
    .technical-stack-ul ul li.react {
      top: 645px;
      right: 145px;
    }
  
    .technical-stack-ul ul li.magento {
      top: 645px;
      right: 82px;
    }
  
    .technical-stack-ul ul li.react-native {
      top: 645px;
      right: 10px;
    }
  
    .technical-stack-ul ul li.html5 {
      top: 645px;
      left: 0px;
    }
  
    .technical-stack-ul ul li.shopify {
      top: 570px;
      right: 99px;
    }
  
    .technical-stack-ul ul li.photoshop {
      top: -55px;
      right: 100px;
    }
  
    .technical-stack-ul ul li.mysql {
      top: -55px;
      right: 10px;
    }
  
    .technical-stack-ul ul li.jquery {
      top: -55px;
      left: 0px;
    }
  
    .technical-stack-ul ul li.aws {
      top: 86px;
      left: 83px;
    }
  
    .technical-stack-ul ul li.less {
      top: 82px;
      right: 96px;
    }
  
    .technical-stack-ul ul li.angularjs {
      top: 480px;
      left: 227px;
    }
  
    .technical-stack-ul ul li.rubyonrails {
      top: 480px;
      right: 0px;
    }
  
  
  
    .index-top .technical-tk-ul>ul>li.ui-ux-design.active ul li.illustrator {
      top: -60px;
      left: 90px;
    }
  
    .index-top .technical-tk-ul>ul>li.ui-ux-design.active ul li.adobe-xd {
      top: 15px;
      left: 100px;
    }
  
    .index-top .technical-tk-ul>ul>li.mobile-app.active ul li.swift {
      top: 15px;
      right: -80px;
    }
  
    .index-top .technical-tk-ul>ul>li.mobile-app.active ul li.react-native {
      top: -57px;
      right: -70px;
    }
  
    .index-top .technical-tk-ul>ul>li.backend.active ul li.shopify {
      top: 88px;
      right: 97px;
    }
  
    .index-top .technical-tk-ul>ul>li.backend.active ul li.rubyonrails {
      top: -62px;
      right: 105px;
    }
  
    .index-top .technical-tk-ul>ul>li.backend.active ul li.php {
      top: 15px;
      right: 101px;
    }
  
    .index-top .technical-tk-ul>ul>li.frontend.active ul li.css3 {
      top: 15px;
      left: -80px;
    }
  
    .index-top .technical-tk-ul>ul>li.frontend.active ul li.html5 {
      top: -58px;
      left: -62px;
    }
  
  
  }
  
  /* We Serve Technologies Section CSS End */